.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-container {
  min-height: 100vh;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-privatbankuabyhtmltodesign-f-r-e-eversion0502202321161 {
  width: 100%;
  height: 2620px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div {
  top: -2px;
  left: 0px;
  width: 1512px;
  height: 2804px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 12px 18px -12px rgba(0, 0, 0, 0.33000001311302185) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-section {
  top: 0px;
  left: 11px;
  width: 1512px;
  height: 192px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(244, 244, 244, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-header {
  top: 8px;
  left: 14px;
  width: 1512px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div01 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09000000357627869) ;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 56px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div02 {
  width: 1512px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-ul {
  top: 0px;
  left: 134px;
  width: 621px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg {
  top: 13.5px;
  left: 39px;
  width: 134px;
  height: 22px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text {
  top: 13px;
  left: 211.52969360351562px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text002 {
  top: 13px;
  left: 469.3109436035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-button {
  top: 16.5px;
  left: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g623d56e566a9398d4447b7b1abe4e4a7eb7f245esvg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a {
  top: 13px;
  left: 377.859375px;
  width: 52px;
  display: flex;
  padding: 0 0.8531246185302734px 0 1.0531253814697266px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text004 {
  color: rgba(0, 0, 0, 0.9599999785423279);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text006 {
  top: 13px;
  left: 1147.1312255859375px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a01 {
  top: 15.5px;
  left: 1233.484375px;
  width: 77px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text008 {
  color: rgba(40, 40, 40, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-adroplang {
  top: 15.5px;
  left: 1334.421875px;
  width: 44px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text010 {
  top: -2.5px;
  left: 2.3890628814697266px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg1 {
  top: 4px;
  left: 33.578125px;
  width: 10px;
  height: 6px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div03 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-divnoticebannerinfo {
  top: 80px;
  left: 0px;
  width: 1244px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 64px 64px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(254, 244, 173, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div04 {
  top: 14px;
  left: 0px;
  width: 650px;
  display: flex;
  padding: 0 0 0 25.865631103515625px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text012 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 27.665618896484375px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div05 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a02 {
  display: flex;
  padding: 5px 23.329689025878906px 5px 23.529685974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text014 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-p {
  width: 130.6875px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-pbefore {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a03 {
  top: 0px;
  left: 25px;
  width: 106px;
  display: flex;
  padding: 5px 21.743749618530273px 5px 21.943750381469727px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text016 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-cd57b4701809025fc68f24f66e94e4bd86e331acpng {
  top: -16px;
  left: 904px;
  width: 340px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-divcbphrmenu {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-ul1 {
  width: 1244px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li {
  top: 0px;
  left: 0px;
  width: 134px;
  display: flex;
  padding: 29px 36.181251525878906px 30px 35.381248474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text018 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li01 {
  top: 0px;
  left: 133.5625px;
  width: 222px;
  display: flex;
  padding: 29px 38.087501525878906px 30px 37.287498474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text020 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li02 {
  top: 0px;
  left: 355.9375px;
  width: 144px;
  display: flex;
  padding: 0 36.048439025878906px 0 35.248435974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text022 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li03 {
  top: 0px;
  left: 500.234375px;
  width: 135px;
  display: flex;
  padding: 29px 35.806251525878906px 30px 35.006248474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text024 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li04 {
  top: 0px;
  left: 635.046875px;
  width: 131px;
  display: flex;
  padding: 29px 35.970314025878906px 30px 35.170310974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text026 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li05 {
  top: 0px;
  left: 766.1875px;
  width: 100px;
  display: flex;
  padding: 29px 35.118751525878906px 30px 34.318748474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text028 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li06 {
  top: 0px;
  left: 866.625px;
  width: 106px;
  display: flex;
  padding: 29px 35.900001525878906px 30px 35.099998474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text030 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li07 {
  top: 0px;
  left: 972.625px;
  width: 181px;
  display: flex;
  padding: 0 1px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-button1 {
  width: 179.765625px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg2 {
  top: 24px;
  left: 30.28125px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text032 {
  top: 29px;
  left: 75.9828109741211px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg3 {
  top: 25px;
  left: 1183.6875px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-articlegads25895 {
  top: 856.3125px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div06 {
  width: 1512px;
  height: 370px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text034 {
  top: -0.5px;
  left: 158px;
  color: rgba(40, 40, 40, 1);
  width: 629px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div07 {
  top: 0px;
  left: 134px;
  width: 1244px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-i-m-a-g-e5d0a6352061f99c4f027762562cbffd6b968c410png {
  top: 0px;
  left: 824.828125px;
  width: 320px;
  height: 320px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div08 {
  top: 122px;
  left: 0px;
  width: 726px;
  height: 238px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-p1 {
  top: 0px;
  left: 24px;
  width: 678px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text036 {
  top: -0.5px;
  color: rgba(40, 40, 40, 1);
  width: 652px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a04 {
  top: 22px;
  left: 129.078125px;
  width: 120px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text038 {
  top: -1.5px;
  left: 1.1312484741210938px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter {
  top: 1.59375px;
  left: 105.0625px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text040 {
  top: 20.5px;
  left: 253.76406860351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a05 {
  top: 22px;
  left: 314.1875px;
  width: 45px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text042 {
  top: -1.5px;
  left: 0.7484378814697266px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter1 {
  top: 1.59375px;
  left: 30.296875px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg1 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text044 {
  top: 20.5px;
  color: rgba(40, 40, 40, 1);
  width: 673px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text046 {
  top: 72.5px;
  left: 24px;
  color: rgba(40, 40, 40, 1);
  width: 650px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text048 {
  top: 145.5px;
  left: 24px;
  color: rgba(40, 40, 40, 1);
  width: 666px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-articlegads25896 {
  top: 1487px;
  left: 0px;
  width: 1512px;
  height: 722px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div09 {
  width: 1512px;
  height: 602px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text050 {
  top: -0.5px;
  left: 163.39688110351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div10 {
  top: 0px;
  left: 134px;
  width: 1244px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-f389a7d93d80866a49793d3166be96748a554a4apng {
  top: 0px;
  left: 772.328125px;
  width: 425px;
  height: 137px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div11 {
  top: 82px;
  left: 0px;
  width: 726px;
  height: 510px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text052 {
  top: -0.5px;
  left: 26.514060974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-ul2 {
  top: 31px;
  left: 24px;
  width: 678px;
  height: 137px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text054 {
  top: -0.5px;
  left: 45.287506103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text056 {
  top: 28.5px;
  left: 48.006256103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text058 {
  top: 57.5px;
  left: 45.201568603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text060 {
  top: 86.5px;
  left: 47.334381103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text062 {
  top: 115.5px;
  left: 44.795318603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text064 {
  top: 177.5px;
  left: 27.053123474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-ul3 {
  top: 209px;
  left: 24px;
  width: 678px;
  height: 166px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text066 {
  top: -0.5px;
  left: 46.506256103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text068 {
  top: 28.5px;
  left: 41.521881103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li08 {
  top: 57.75px;
  left: 40px;
  width: 638px;
  display: flex;
  padding: 0 74.40780639648438px 0.5px 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a06 {
  width: 238.515625px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 6.732818603515625px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text070 {
  top: -1.5px;
  left: 2.3578109741210938px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter2 {
  top: 1.59375px;
  left: 223.515625px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg2 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text072 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-li09 {
  top: 86.75px;
  left: 40px;
  width: 638px;
  display: flex;
  padding: 0 450.4234313964844px 0.5px 0;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a07 {
  width: 182.703125px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: -0.470306396484375px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text074 {
  top: -1.5px;
  left: 1.4515609741210938px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter3 {
  top: 1.59375px;
  left: 167.703125px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg3 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text076 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text077 {
  top: 115.5px;
  left: 43.537498474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text079 {
  top: 144.5px;
  left: 41.701560974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-p2 {
  top: 384.75px;
  left: 24px;
  width: 678px;
  display: flex;
  padding: 0 587.8125px 0.5px 2.8734378814697266px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text081 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 2.6734371185302734px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a08 {
  width: 45.296875px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text083 {
  top: -1.5px;
  left: 0.7484378814697266px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter4 {
  top: 1.59375px;
  left: 30.296875px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg4 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text085 {
  top: 415.5px;
  left: 29.146873474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-p3 {
  top: 447px;
  left: 24px;
  width: 678px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text087 {
  top: -0.5px;
  color: rgba(40, 40, 40, 1);
  width: 643px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-a09 {
  top: 43px;
  left: 0px;
  width: 93px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text089 {
  top: -1.5px;
  left: 1.2328109741210938px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-aafter5 {
  top: 1.59375px;
  left: 78.265625px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg5 {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text091 {
  top: 41.5px;
  left: 92.7953109741211px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-article {
  top: 2209px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div13 {
  height: 202px;
  display: flex;
  padding: 100px 134px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div14 {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div15 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div16 {
  display: flex;
  padding: 0 0 43px 0;
  position: relative;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div17 {
  width: 299px;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-e9e3a29376e8b3dd27541cca6a264e31362b8bd0png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div18 {
  top: 0px;
  left: 64px;
  width: 235px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text092 {
  top: 6.5px;
  left: 1.3499984741210938px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text094 {
  top: 39px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div19 {
  width: 299px;
  height: 69px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-eb2275d0c3229248a4beb2ec4681ca33cc9c8e94png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div20 {
  top: 0px;
  left: 64px;
  width: 208px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text096 {
  top: 6.5px;
  left: 0.8109378814697266px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text098 {
  top: 39px;
  left: 4.162498474121094px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div21 {
  display: flex;
  padding: 1px 134px 5px 134px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div22 {
  width: 1244px;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div23 {
  top: 43.6376953125px;
  left: -72.9583740234375px;
  width: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg4 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg5 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg6 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-svg7 {
  width: 24px;
  height: 24px;
  position: relative;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text100 {
  top: 30.5px;
  left: 898.0218505859375px;
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-articlegads25894 {
  top: 292px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 0 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div24 {
  width: 1512px;
  height: 423.3125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text102 {
  top: -0.8828125px;
  left: 158px;
  color: rgba(40, 40, 40, 1);
  width: 619px;
  height: auto;
  position: absolute;
  font-size: 55px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 66.08000183105469px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-div25 {
  top: 292.3125px;
  left: 134px;
  width: 726px;
  height: 131px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321161-text104 {
  left: 32.912506103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
