.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-container {
  min-height: 100vh;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-privatbankuabyhtmltodesign-f-r-e-eversion0502202317233 {
  width: 100%;
  height: 1844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div {
  top: 47.833335876464844px;
  left: 0px;
  width: 1512px;
  height: 1400px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 12px 18px -12px rgba(0, 0, 0, 0.33000001311302185) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div01 {
  width: 1512px;
  height: 845px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: -773px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-d16994f04dbf407680634ac213d111f19b6c1c76avif {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 845px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div02 {
  top: -4.5px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 292px 164px 0 164px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div03 {
  display: flex;
  padding: 0 473.609375px 242px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-article {
  width: 1436px;
  display: flex;
  padding: 120px 0 141px 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div04 {
  width: 1512px;
  height: 3426px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text {
  top: -0.5px;
  left: 166.58438110351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div05 {
  top: 82px;
  left: 134px;
  width: 1244px;
  height: 3344px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div06 {
  top: 0px;
  left: 0px;
  width: 415px;
  display: flex;
  padding: 0 6px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-section {
  width: 402.65625px;
  height: 557px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-i-m-a-g-e860666525be7eb209518053593153cb08ee17f91jpeg {
  top: 4px;
  left: 0px;
  width: 403px;
  height: 200px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div07 {
  top: 200px;
  left: 0px;
  width: 403px;
  height: 357px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text02 {
  top: 34px;
  left: 32.599998474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text04 {
  top: 100.5px;
  left: 32px;
  color: rgba(40, 40, 40, 1);
  width: 332px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a {
  top: 287px;
  left: 32px;
  width: 162px;
  display: flex;
  padding: 5px 22.829689025878906px 5px 23.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text06 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div08 {
  top: 0px;
  left: 414.65625px;
  width: 415px;
  display: flex;
  padding: 0 6px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-section1 {
  width: 402.65625px;
  height: 557px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-i-m-a-g-e9293b7134830914baa170fe9b873b1f1dd0689c4jpeg {
  top: 0px;
  left: 0px;
  width: 403px;
  height: 200px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div09 {
  top: 200px;
  left: 0px;
  width: 403px;
  height: 357px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text08 {
  top: 22px;
  left: 33.006256103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-ul {
  top: 89.75px;
  left: 32px;
  width: 274px;
  display: flex;
  padding: 0 7.40936279296875px 0.5px 40px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text13 {
  color: rgba(40, 40, 40, 1);
  width: 227px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text14 {
  text-decoration: NONE;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text15 {
  text-decoration: UNDERLINE;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text16 {
  text-decoration: NONE;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text17 {
  text-decoration: UNDERLINE;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a1 {
  top: 287px;
  left: 32px;
  width: 162px;
  display: flex;
  padding: 5px 22.829689025878906px 5px 23.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text19 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div10 {
  top: 0px;
  left: 829.3125px;
  width: 415px;
  display: flex;
  padding: 0 6px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-section2 {
  width: 402.65625px;
  height: 557px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-ce64aa9b30b3e5344632c6cc4dec37c6d8084c72jpeg {
  top: 0px;
  left: 0px;
  width: 403px;
  height: 200px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div11 {
  top: 200px;
  left: 0px;
  width: 403px;
  height: 357px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text21 {
  top: 34px;
  left: 32.310935974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-ul1 {
  top: 90px;
  left: 32px;
  width: 339px;
  height: 129px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text23 {
  top: -0.5px;
  left: 40px;
  color: rgba(40, 40, 40, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text25 {
  top: 49.5px;
  left: 40.951560974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text27 {
  top: 78.5px;
  left: 41.693748474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text29 {
  top: 107.5px;
  left: 42.084373474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a2 {
  top: 287px;
  left: 32px;
  width: 162px;
  display: flex;
  padding: 5px 22.829689025878906px 5px 23.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text31 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div12 {
  top: 569px;
  left: 0px;
  width: 415px;
  display: flex;
  padding: 0 6px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-section3 {
  width: 402.65625px;
  height: 542px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-i-m-a-g-e62380ff41a9c831a66e58c8ca2dbe777fe360ad0jpeg {
  top: 0px;
  left: 0px;
  width: 403px;
  height: 200px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div13 {
  top: 200px;
  left: 0px;
  width: 403px;
  height: 342px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text33 {
  top: 34px;
  left: 32.631248474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div14 {
  top: 90px;
  left: 32px;
  width: 339px;
  height: 104px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text35 {
  top: -11.5px;
  left: 1.6703109741210938px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a3 {
  top: 272px;
  left: 32px;
  width: 162px;
  display: flex;
  padding: 5px 22.829689025878906px 5px 23.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text40 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div15 {
  top: 1479px;
  left: 49px;
  width: 914px;
  height: 189px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div16 {
  height: 245px;
  display: flex;
  padding: 100px 134px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div17 {
  width: 299px;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-e9e3a29376e8b3dd27541cca6a264e31362b8bd0png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div18 {
  top: 0px;
  left: 64px;
  width: 235px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text42 {
  top: 6.5px;
  left: 1.3499984741210938px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text44 {
  top: 39px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div19 {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div20 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div21 {
  display: flex;
  padding: 0 0 43px 0;
  position: relative;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div22 {
  width: 299px;
  height: 69px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-eb2275d0c3229248a4beb2ec4681ca33cc9c8e94png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div23 {
  top: 0px;
  left: 64px;
  width: 208px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text46 {
  top: 6.5px;
  left: 0.8109378814697266px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text48 {
  top: 39px;
  left: 4.162498474121094px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div24 {
  top: 1767.8333740234375px;
  left: 227px;
  width: 545px;
  height: 76px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div25 {
  top: 26px;
  left: -35.15625px;
  width: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg1 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg2 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg3 {
  width: 24px;
  height: 24px;
  position: relative;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text50 {
  top: 30.5px;
  left: 898.0218505859375px;
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-header {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 116px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div26 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09000000357627869) ;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 56px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div27 {
  width: 1512px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-ul2 {
  top: 0px;
  left: 134px;
  width: 621px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg4 {
  top: 13.5px;
  left: 39px;
  width: 134px;
  height: 22px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text52 {
  top: 13px;
  left: 378.9125061035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text54 {
  top: 13px;
  left: 469.3109436035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-button {
  top: 16.5px;
  left: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-s-v-g623d56e566a9398d4447b7b1abe4e4a7eb7f245esvg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a4 {
  top: 13px;
  left: 209px;
  width: 133px;
  display: flex;
  padding: 0 2.3296890258789062px 0 2.5296859741210938px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text56 {
  color: rgba(0, 0, 0, 0.9599999785423279);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text58 {
  top: 13px;
  left: 1147.1312255859375px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a5 {
  top: 15.5px;
  left: 1233.484375px;
  width: 77px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text60 {
  color: rgba(40, 40, 40, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-adroplang {
  top: 15.5px;
  left: 1334.421875px;
  width: 44px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text62 {
  top: -2.5px;
  left: 2.3890628814697266px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg5 {
  top: 4px;
  left: 33.578125px;
  width: 10px;
  height: 6px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div28 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-divnoticebannerinfo {
  top: 80px;
  left: 0px;
  width: 1244px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 64px 64px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(254, 244, 173, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div29 {
  top: 14px;
  left: 0px;
  width: 650px;
  display: flex;
  padding: 0 0 0 25.865631103515625px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text64 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 27.665618896484375px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-div30 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a6 {
  display: flex;
  padding: 5px 23.329689025878906px 5px 23.529685974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text66 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-p {
  width: 130.6875px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-pbefore {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-a7 {
  top: 0px;
  left: 25px;
  width: 106px;
  display: flex;
  padding: 5px 21.743749618530273px 5px 21.943750381469727px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text68 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-cd57b4701809025fc68f24f66e94e4bd86e331acpng {
  top: -16px;
  left: 904px;
  width: 340px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-divcbphrmenu {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-ul3 {
  width: 1244px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li {
  top: 0px;
  left: 0px;
  width: 180px;
  display: flex;
  padding: 29px 36.493751525878906px 30px 35.678123474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text70 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li1 {
  top: 0px;
  left: 180.171875px;
  width: 134px;
  display: flex;
  padding: 29px 35.525001525878906px 30px 34.709373474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text72 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li2 {
  top: 0px;
  left: 314.40625px;
  width: 124px;
  display: flex;
  padding: 29px 35.173439025878906px 30px 34.357810974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text74 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li3 {
  top: 0px;
  left: 437.9375px;
  width: 133px;
  display: flex;
  padding: 29px 35.900001525878906px 30px 35.084373474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text76 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li4 {
  top: 0px;
  left: 570.921875px;
  width: 145px;
  display: flex;
  padding: 29px 36.212501525878906px 30px 35.396873474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text78 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li5 {
  top: 0px;
  left: 715.53125px;
  width: 153px;
  display: flex;
  padding: 0 35.845314025878906px 0 35.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text80 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li6 {
  top: 0px;
  left: 868.40625px;
  width: 105px;
  display: flex;
  padding: 29px 35.618751525878906px 30px 34.803123474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text82 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-li7 {
  top: 0px;
  left: 973.828125px;
  width: 180px;
  display: flex;
  padding: 0 1px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-button1 {
  width: 179.1875px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg6 {
  top: 24px;
  left: 29.984375px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-text84 {
  top: 29px;
  left: 75.6859359741211px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202317233-svg7 {
  top: 25px;
  left: 1184px;
  width: 30px;
  height: 30px;
  position: absolute;
}
