.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-container {
  min-height: 100vh;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-privatbankuabyhtmltodesign-f-r-e-eversion0502202321061 {
  width: 100%;
  height: 3532px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div {
  top: 48px;
  left: 0px;
  width: 1512px;
  height: 3130px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 12px 18px -12px rgba(0, 0, 0, 0.33000001311302185) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div01 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 845px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-i-m-a-g-e794a7d26a9b8184d0b5738ead9ee9c064b6b4fa3webp {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 845px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div02 {
  top: 105.8740234375px;
  left: -18.0496826171875px;
  width: 1512px;
  display: flex;
  padding: 105.5px 164px 365.5px 164px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div03 {
  display: flex;
  padding: 0 518px 0 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div04 {
  width: 666px;
  height: 411px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text {
  top: -0.5px;
  color: rgba(40, 40, 40, 1);
  width: 575px;
  height: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 56px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text002 {
  top: 196px;
  left: 8.303131103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text004 {
  top: 253px;
  left: 9.951568603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-articlegads24441 {
  top: 840px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div05 {
  width: 1512px;
  height: 373px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text006 {
  top: -0.5px;
  left: 172.61563110351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div06 {
  top: 0px;
  left: 134px;
  width: 1244px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-d740e3c668f8d4f67b3610e4f0ec1b14304cfaf2jpeg {
  top: 0px;
  left: 824.828125px;
  width: 320px;
  height: 373px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div07 {
  top: 81.75px;
  left: 0px;
  width: 726px;
  display: flex;
  padding: 0 24px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ul {
  display: flex;
  padding: 0 3.45623779296875px 0.5px 20px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text008 {
  color: rgba(40, 40, 40, 1);
  width: 572px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 13px;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text010 {
  color: rgba(40, 40, 40, 1);
  width: 654px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 13px;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text012 {
  color: rgba(40, 40, 40, 1);
  width: 609px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-articlegads24444 {
  top: 1474px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div08 {
  width: 1512px;
  height: 607px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text014 {
  top: -0.5px;
  left: 173.74844360351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div09 {
  top: 82px;
  left: 158px;
  width: 1196px;
  display: flex;
  padding: 0 2px 0 0;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tabletablesaw7792 {
  width: 1194px;
  height: 525px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-thead {
  top: 0.5px;
  left: 0.5px;
  width: 1193px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(240, 240, 240, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr {
  display: flex;
  padding: 12px 267.2047119140625px 13px 414.5140686035156px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text016 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 277.2812194824219px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text018 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tbody {
  top: 46.5px;
  left: 0.5px;
  width: 1193px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td {
  display: flex;
  padding: 12px 315.4546813964844px 13px 18.201560974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text020 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td01 {
  display: flex;
  padding: 12px 279.2203063964844px 13px 18.435935974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text022 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td02 {
  display: flex;
  padding: 12px 279.2515563964844px 13px 18.435935974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text024 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td03 {
  display: flex;
  padding: 12px 257.3687438964844px 13px 17.287498474121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text026 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td04 {
  display: flex;
  padding: 12px 106.28280639648438px 13px 19.373443603515625px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text028 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td05 {
  display: flex;
  padding: 12px 106.31405639648438px 13px 19.373443603515625px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text030 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td06 {
  display: flex;
  padding: 22.5px 245.25155639648438px 23.5px 20.404685974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text032 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td07 {
  display: flex;
  padding: 12px 42.70623779296875px 13px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text034 {
  color: rgba(40, 40, 40, 1);
  width: 338px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td08 {
  display: flex;
  padding: 12px 42.73748779296875px 13px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text036 {
  color: rgba(40, 40, 40, 1);
  width: 338px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td09 {
  display: flex;
  padding: 12px 210.55624389648438px 13px 21.099998474121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text038 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td10 {
  display: flex;
  padding: 12px 354.6578063964844px 13px 16.998437881469727px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text040 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td11 {
  display: flex;
  padding: 12px 354.6890563964844px 13px 16.998437881469727px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text042 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td12 {
  display: flex;
  padding: 33px 287.6109313964844px 34px 18.045310974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text044 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td13 {
  display: flex;
  padding: 12px 41.14373779296875px 13px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text046 {
  color: rgba(40, 40, 40, 1);
  width: 340px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td14 {
  display: flex;
  padding: 22.5px 101.59686279296875px 23.5px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text048 {
  color: rgba(40, 40, 40, 1);
  width: 280px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-tr6 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td15 {
  display: flex;
  padding: 81.5px 306.5796813964844px 82.5px 18.076560974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text050 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td16 {
  display: flex;
  padding: 12.5px 16.5px 22.5px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ul1 {
  width: 364.65625px;
  height: 150px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text052 {
  top: -0.5px;
  left: 40px;
  color: rgba(40, 40, 40, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text054 {
  top: 49.5px;
  left: 44.045318603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text056 {
  top: 78.5px;
  left: 40px;
  color: rgba(40, 40, 40, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text058 {
  top: 128.5px;
  left: 43.990631103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-td17 {
  display: flex;
  padding: 71px 101.59686279296875px 72px 16.5px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 1px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text060 {
  color: rgba(40, 40, 40, 1);
  width: 280px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-article {
  top: 2342px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 140px 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div10 {
  display: flex;
  padding: 0 158px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div11 {
  display: flex;
  padding: 0 626.890625px 0 7.693756103515625px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text062 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 31.493743896484375px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-divtab {
  width: 244.921875px;
  height: 36px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(117, 175, 38, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  margin-right: 31.493743896484375px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text064 {
  top: 2px;
  color: rgba(40, 40, 40, 1);
  width: 245px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-divtaboutline {
  width: 249px;
  height: 40px;
  z-index: 2;
  position: relative;
  box-sizing: content-box;
  border-color: rgba(90, 147, 16, 1);
  border-style: solid;
  border-width: 2px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div12 {
  width: 1512px;
  height: 632px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-articlegads24456 {
  top: 0px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 30px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div13 {
  width: 1512px;
  height: 588px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text066 {
  top: -0.5px;
  left: 158px;
  color: rgba(40, 40, 40, 1);
  width: 576px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div14 {
  top: 0px;
  left: 134px;
  width: 1244px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-i-m-a-g-e75c2e166742115f9154ca088d1849d40b1b57519jpeg {
  top: 0px;
  left: 801.828125px;
  width: 366px;
  height: 332px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div15 {
  top: 162px;
  left: 0px;
  width: 726px;
  height: 496px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ol {
  top: 0px;
  left: 24px;
  width: 678px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text068 {
  top: -0.5px;
  left: 40px;
  color: rgba(40, 40, 40, 1);
  width: 500px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text070 {
  top: 49.5px;
  left: 48.498443603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text072 {
  top: 78.5px;
  left: 42.459373474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text074 {
  top: 109.5px;
  left: 25.826560974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text076 {
  top: 171.5px;
  left: 28.896881103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ol1 {
  top: 203px;
  left: 24px;
  width: 678px;
  height: 79px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text078 {
  top: -0.5px;
  left: 43.850006103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text080 {
  top: 28.5px;
  left: 41.990623474121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text082 {
  top: 57.5px;
  left: 43.310935974121094px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text084 {
  top: 309px;
  left: 29px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text086 {
  top: 357px;
  left: 24px;
  color: rgba(40, 40, 40, 1);
  width: 625px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-header {
  top: 1.8740234375px;
  left: -0.0496826171875px;
  width: 1512px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div16 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09000000357627869) ;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 56px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div17 {
  width: 1512px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ul2 {
  top: 0px;
  left: 134px;
  width: 621px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg {
  top: 13.5px;
  left: 39px;
  width: 134px;
  height: 22px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text088 {
  top: 13px;
  left: 378.9125061035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text090 {
  top: 13px;
  left: 469.3109436035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-button {
  top: 16.5px;
  left: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-s-v-g623d56e566a9398d4447b7b1abe4e4a7eb7f245esvg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-a {
  top: 13px;
  left: 209px;
  width: 133px;
  display: flex;
  padding: 0 2.3296890258789062px 0 2.5296859741210938px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text092 {
  color: rgba(0, 0, 0, 0.9599999785423279);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text094 {
  top: 13px;
  left: 1147.1312255859375px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-a1 {
  top: 15.5px;
  left: 1233.484375px;
  width: 77px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text096 {
  color: rgba(40, 40, 40, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-adroplang {
  top: 15.5px;
  left: 1334.421875px;
  width: 44px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text098 {
  top: -2.5px;
  left: 2.3890628814697266px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg1 {
  top: 4px;
  left: 33.578125px;
  width: 10px;
  height: 6px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div18 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-divnoticebannerinfo {
  top: 80px;
  left: 0px;
  width: 1244px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 64px 64px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(254, 244, 173, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div19 {
  top: 14px;
  left: 0px;
  width: 650px;
  display: flex;
  padding: 0 0 0 25.865631103515625px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text100 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 27.665618896484375px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div20 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-a2 {
  display: flex;
  padding: 5px 23.329689025878906px 5px 23.529685974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text102 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-p {
  width: 130.6875px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-pbefore {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-a3 {
  top: 0px;
  left: 25px;
  width: 106px;
  display: flex;
  padding: 5px 21.743749618530273px 5px 21.943750381469727px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text104 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-cd57b4701809025fc68f24f66e94e4bd86e331acpng {
  top: -16px;
  left: 904px;
  width: 340px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-divcbphrmenu {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-ul3 {
  width: 1244px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li {
  top: 0px;
  left: 0px;
  width: 180px;
  display: flex;
  padding: 29px 36.493751525878906px 30px 35.678123474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text106 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li1 {
  top: 0px;
  left: 180.171875px;
  width: 134px;
  display: flex;
  padding: 29px 35.525001525878906px 30px 34.709373474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text108 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li2 {
  top: 0px;
  left: 314.40625px;
  width: 124px;
  display: flex;
  padding: 29px 35.173439025878906px 30px 34.357810974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text110 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li3 {
  top: 0px;
  left: 437.9375px;
  width: 133px;
  display: flex;
  padding: 29px 35.900001525878906px 30px 35.084373474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text112 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li4 {
  top: 0px;
  left: 570.921875px;
  width: 145px;
  display: flex;
  padding: 29px 36.212501525878906px 30px 35.396873474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text114 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li5 {
  top: 0px;
  left: 715.53125px;
  width: 153px;
  display: flex;
  padding: 0 35.845314025878906px 0 35.029685974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text116 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li6 {
  top: 0px;
  left: 868.40625px;
  width: 105px;
  display: flex;
  padding: 29px 35.618751525878906px 30px 34.803123474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text118 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-li7 {
  top: 0px;
  left: 973.828125px;
  width: 180px;
  display: flex;
  padding: 0 1px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-button1 {
  width: 179.1875px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg2 {
  top: 24px;
  left: 29.984375px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text120 {
  top: 29px;
  left: 75.6859359741211px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg3 {
  top: 25px;
  left: 1184px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div21 {
  top: 3164px;
  left: 2px;
  width: 914px;
  height: 212px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div22 {
  display: flex;
  padding: 100px 134px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div23 {
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div24 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div25 {
  display: flex;
  padding: 0 0 43px 0;
  position: relative;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div26 {
  width: 299px;
  height: 69px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-eb2275d0c3229248a4beb2ec4681ca33cc9c8e94png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div27 {
  top: 0px;
  left: 64px;
  width: 208px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text122 {
  top: 6.5px;
  left: 0.8109378814697266px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text124 {
  top: 39px;
  left: 4.162498474121094px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div28 {
  width: 299px;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-e9e3a29376e8b3dd27541cca6a264e31362b8bd0png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div29 {
  top: 0px;
  left: 64px;
  width: 235px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text126 {
  top: 6.5px;
  left: 1.3499984741210938px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text128 {
  top: 39px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div30 {
  top: 3435px;
  left: -13px;
  width: 1512px;
  display: flex;
  padding: 1px 134px 5px 134px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div31 {
  width: 1244px;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-div32 {
  top: 30.8740234375px;
  left: -62.0496826171875px;
  width: 192px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg4 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg5 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg6 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-svg7 {
  width: 24px;
  height: 24px;
  position: relative;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202321061-text130 {
  top: 30.5px;
  left: 898.0218505859375px;
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
