.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-container {
  min-height: 100vh;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-privatbankuabyhtmltodesign-f-r-e-eversion0502202320164 {
  width: 100%;
  height: 5104px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div {
  top: 48px;
  left: 0px;
  width: 1512px;
  height: 4827px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 12px 18px -12px rgba(0, 0, 0, 0.33000001311302185) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div01 {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 845px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-i-m-a-g-e9377c6889da39713613aef39bc60e3d3ec7531b3webp {
  top: 0px;
  left: 0px;
  width: 1512px;
  height: 845px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div02 {
  top: 118px;
  left: -11px;
  width: 1512px;
  display: flex;
  padding: 69px 164px 329px 164px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div03 {
  height: 441px;
  display: flex;
  padding: 0 518px 0 0;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div04 {
  width: 666px;
  height: 447px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text {
  top: -0.5px;
  color: rgba(40, 40, 40, 1);
  width: 395px;
  height: auto;
  position: absolute;
  font-size: 56px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 56px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text002 {
  top: 140px;
  color: rgba(40, 40, 40, 1);
  width: 622px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text004 {
  top: 225px;
  left: 9.412506103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text006 {
  top: 282px;
  color: rgba(40, 40, 40, 1);
  width: 572px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-articlegads26587 {
  top: 840px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div05 {
  width: 1512px;
  height: 363px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text008 {
  top: -0.5px;
  left: 168.08438110351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div06 {
  top: 0px;
  left: 134px;
  width: 1244px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-s-v-g1d691c8b90da65bf3093854360ee502d55d14aa0svg {
  top: 0px;
  left: 802.328125px;
  width: 365px;
  height: 363px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div07 {
  top: 82px;
  left: 0px;
  width: 726px;
  display: flex;
  padding: 0 24px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ul {
  width: 677.65625px;
  height: 262px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text010 {
  top: -0.5px;
  left: 20px;
  color: rgba(40, 40, 40, 1);
  width: 640px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text012 {
  top: 54.5px;
  left: 20px;
  color: rgba(40, 40, 40, 1);
  width: 573px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text014 {
  top: 109.5px;
  left: 20px;
  color: rgba(40, 40, 40, 1);
  width: 632px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text016 {
  top: 185.5px;
  left: 20px;
  color: rgba(40, 40, 40, 1);
  width: 627px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text018 {
  top: 240.5px;
  left: 23.521881103515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-article {
  top: 1464px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 140px 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div08 {
  width: 1512px;
  height: 657px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text020 {
  top: -0.5px;
  left: 179.5999755859375px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div09 {
  top: 82px;
  left: 134px;
  width: 1244px;
  height: 575px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section {
  top: 14px;
  left: 30px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text022 {
  top: 31.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 209px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section01 {
  top: 14px;
  left: 428.65625px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg01 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text024 {
  top: 31.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 237px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section02 {
  top: 14px;
  left: 827.3125px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg02 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text026 {
  top: 52.5px;
  left: 129.38906860351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section03 {
  top: 155px;
  left: 30px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg03 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text028 {
  top: 31.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section04 {
  top: 155px;
  left: 428.65625px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg04 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text030 {
  top: 42px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section05 {
  top: 155px;
  left: 827.3125px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg05 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text032 {
  top: 31.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 186px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section06 {
  top: 296px;
  left: 30px;
  width: 387px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg06 {
  top: 40px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text034 {
  top: 26.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 238px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section07 {
  top: 296px;
  left: 428.65625px;
  width: 387px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg07 {
  top: 40px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text036 {
  top: 5.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 219px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section08 {
  top: 296px;
  left: 827.3125px;
  width: 387px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg08 {
  top: 40px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text038 {
  top: 16px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section09 {
  top: 448px;
  left: 30px;
  width: 387px;
  height: 127px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg09 {
  top: 34.5px;
  left: 30px;
  width: 56px;
  height: 56px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text040 {
  top: 31.5px;
  left: 115.390625px;
  color: rgba(40, 40, 40, 1);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-article1 {
  top: 2381px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div10 {
  display: flex;
  padding: 0 134px 6px 134px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div11 {
  width: 1244px;
  height: 754px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text042 {
  top: -0.5px;
  left: 24px;
  color: rgba(40, 40, 40, 1);
  width: 678px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div12 {
  top: 186px;
  left: 6px;
  width: 714px;
  display: flex;
  padding: 0 32px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div13 {
  display: flex;
  padding: 0 24px 0.5px 24px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ol {
  width: 601.65625px;
  height: 456px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li {
  top: 0px;
  left: 8px;
  width: 594px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore {
  top: -4px;
  left: -40px;
  width: 28px;
  height: 29px;
  position: absolute;
  border-color: rgba(21, 182, 210, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text044 {
  top: -0.5px;
  left: 8.514068603515625px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a {
  top: 22px;
  left: 0px;
  width: 200px;
  height: 18px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text046 {
  top: -1.5px;
  left: 1.8578109741210938px;
  color: rgba(21, 182, 210, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-aafter {
  top: 1.59375px;
  left: 184.515625px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-s-v-g858d1de46e862fdbc333abdf76f93ac0bc78a1a5svg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text048 {
  top: 20.5px;
  color: rgba(40, 40, 40, 1);
  width: 589px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li01 {
  top: 101.75px;
  left: 8px;
  width: 594px;
  display: flex;
  padding: 0 0.69061279296875px 0.5px 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore1 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text050 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  width: 593px;
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li02 {
  top: 392.75px;
  left: 8px;
  width: 594px;
  display: flex;
  padding: 0 9.09686279296875px 0.5px 0;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore2 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text069 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  width: 585px;
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text071 {
  color: rgba(40, 40, 40, 1);
  width: 584px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a331f6b4eb01e17a641cc268e8cd304d2fdd279bpng {
  top: 162px;
  left: 783.8125px;
  width: 402px;
  height: 427px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-article2 {
  top: 3402px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div14 {
  display: flex;
  padding: 0 134px 6px 134px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div15 {
  width: 1244px;
  height: 680px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text073 {
  top: -0.5px;
  left: 24px;
  color: rgba(40, 40, 40, 1);
  width: 616px;
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div16 {
  top: 185.75px;
  left: 6px;
  width: 714px;
  display: flex;
  padding: 0 56px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ol1 {
  display: flex;
  padding: 0 0 0 8px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li03 {
  display: flex;
  padding: 0 110.63436889648438px 0.5px 10.021881103515625px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore3 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(21, 182, 210, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text075 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li04 {
  display: flex;
  padding: 0 77.67343139648438px 0.5px 5.982818603515625px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore4 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text077 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li05 {
  display: flex;
  padding: 0 338.5249938964844px 0.5px 5.131256103515625px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore5 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text079 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li06 {
  display: flex;
  padding: 0 330.0953063964844px 0.5px 6.560943603515625px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore6 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text081 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li07 {
  display: flex;
  padding: 0 110.69061279296875px 0.5px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 38.5px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore7 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text083 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  width: 483px;
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li08 {
  display: flex;
  padding: 0 16.92498779296875px 0.5px 0;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-libefore8 {
  width: 28px;
  height: 29px;
  position: relative;
  border-color: rgba(160, 160, 160, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 14.229999542236328px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text085 {
  color: rgba(0, 0, 0, 0.5400000214576721);
  width: 577px;
  height: auto;
  z-index: 1;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-i-m-a-g-e8e491372116c41145d0fdb3cede453f7f0021c42png {
  top: 162px;
  left: 849.8125px;
  width: 270px;
  height: 518px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-divcmsblock27332 {
  top: 4349px;
  left: 0px;
  width: 1512px;
  display: flex;
  padding: 120px 0 141px 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(216, 216, 216, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div17 {
  width: 1512px;
  height: 586.5625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text087 {
  top: -0.5px;
  left: 162.70938110351562px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 34px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-section10 {
  top: -169.78125px;
  left: 134px;
  width: 1244px;
  display: flex;
  padding: 0 24px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div18 {
  width: 897px;
  height: 504.5625px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-sddefaultjpg {
  top: -84.953125px;
  left: 0px;
  width: 897px;
  height: 673px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div19 {
  top: 228.28125px;
  left: 414.5px;
  width: 68px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 15px;
  background-color: rgba(76, 76, 76, 0.800000011920929);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div20 {
  display: flex;
  padding: 0 0 306.546875px 0;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ul1 {
  width: 299px;
  height: 198px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li09 {
  top: 6px;
  left: 0px;
  width: 299px;
  display: flex;
  padding: 19.5px 53.23750305175781px 21.5px 10px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(215, 215, 215, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text089 {
  color: rgba(21, 182, 210, 1);
  width: 236px;
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text090 {
  color: rgba(21, 182, 210, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text092 {
  top: 108.5px;
  left: 30px;
  color: rgba(40, 40, 40, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-header {
  top: -11px;
  left: 0px;
  width: 1512px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div21 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.09000000357627869) ;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 56px;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div22 {
  width: 1512px;
  height: 48px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ul2 {
  top: 0px;
  left: 134px;
  width: 621px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg10 {
  top: 13.5px;
  left: 39px;
  width: 134px;
  height: 22px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text094 {
  top: 13px;
  left: 211.52969360351562px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text096 {
  top: 13px;
  left: 469.3109436035156px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-button {
  top: 16.5px;
  left: 0px;
  width: 15px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-s-v-g623d56e566a9398d4447b7b1abe4e4a7eb7f245esvg {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a1 {
  top: 13px;
  left: 377.859375px;
  width: 52px;
  display: flex;
  padding: 0 0.8531246185302734px 0 1.0531253814697266px;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text098 {
  color: rgba(0, 0, 0, 0.9599999785423279);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-aafter1 {
  width: 52px;
  height: 40px;
  z-index: 1;
  position: relative;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text100 {
  top: 13px;
  left: 1147.1312255859375px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a2 {
  top: 15.5px;
  left: 1233.484375px;
  width: 77px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(221, 221, 221, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text102 {
  color: rgba(40, 40, 40, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-adroplang {
  top: 15.5px;
  left: 1334.421875px;
  width: 44px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text104 {
  top: -2.5px;
  left: 2.3890628814697266px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg11 {
  top: 4px;
  left: 33.578125px;
  width: 10px;
  height: 6px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div23 {
  display: flex;
  position: relative;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-divnoticebannerinfo {
  top: 80px;
  left: 0px;
  width: 1244px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 64px 64px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  border-radius: 0 0 4px 4px;
  background-color: rgba(254, 244, 173, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div24 {
  top: 14px;
  left: 0px;
  width: 650px;
  display: flex;
  padding: 0 0 0 25.865631103515625px;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text106 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 27.665618896484375px;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div25 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a3 {
  display: flex;
  padding: 5px 23.329689025878906px 5px 23.529685974121094px;
  position: relative;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text108 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-p {
  width: 130.6875px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-pbefore {
  top: 0px;
  left: 0px;
  width: 1px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-a4 {
  top: 0px;
  left: 25px;
  width: 106px;
  display: flex;
  padding: 5px 21.743749618530273px 5px 21.943750381469727px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(151, 151, 151, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 27px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text110 {
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 18px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-cd57b4701809025fc68f24f66e94e4bd86e331acpng {
  top: -16px;
  left: 904px;
  width: 340px;
  height: 88px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-divcbphrmenu {
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-ul3 {
  width: 1244px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li10 {
  top: 0px;
  left: 0px;
  width: 134px;
  display: flex;
  padding: 29px 36.181251525878906px 30px 35.381248474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text112 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li11 {
  top: 0px;
  left: 133.5625px;
  width: 222px;
  display: flex;
  padding: 29px 38.087501525878906px 30px 37.287498474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text114 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li12 {
  top: 0px;
  left: 355.9375px;
  width: 144px;
  display: flex;
  padding: 0 36.048439025878906px 0 35.248435974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text116 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 80px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li13 {
  top: 0px;
  left: 500.234375px;
  width: 135px;
  display: flex;
  padding: 29px 35.806251525878906px 30px 35.006248474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text118 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li14 {
  top: 0px;
  left: 635.046875px;
  width: 131px;
  display: flex;
  padding: 29px 35.970314025878906px 30px 35.170310974121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text120 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li15 {
  top: 0px;
  left: 766.1875px;
  width: 100px;
  display: flex;
  padding: 29px 35.118751525878906px 30px 34.318748474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text122 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li16 {
  top: 0px;
  left: 866.625px;
  width: 106px;
  display: flex;
  padding: 29px 35.900001525878906px 30px 35.099998474121094px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text124 {
  color: rgba(40, 40, 40, 1);
  height: auto;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-li17 {
  top: 0px;
  left: 972.625px;
  width: 181px;
  display: flex;
  padding: 0 1px 0 0;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(240, 240, 240, 1);
  border-style: solid;
  border-width: Symbol(figma.mixed)px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-button1 {
  width: 179.765625px;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg12 {
  top: 24px;
  left: 30.28125px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text126 {
  top: 29px;
  left: 75.9828109741211px;
  color: rgba(40, 40, 40, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 21px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg13 {
  top: 25px;
  left: 1183.6875px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div26 {
  top: 4875px;
  left: -32px;
  width: 1708px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(244, 244, 244, 1);
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div27 {
  display: flex;
  padding: 100px 134px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div28 {
  width: 299px;
  height: 69px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-eb2275d0c3229248a4beb2ec4681ca33cc9c8e94png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div29 {
  top: 0px;
  left: 64px;
  width: 208px;
  height: 69px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text128 {
  top: 6.5px;
  left: 0.8109378814697266px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text130 {
  top: 39px;
  left: 4.162498474121094px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div30 {
  width: 349px;
  display: flex;
  padding: 0 24px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div31 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div32 {
  width: 299px;
  height: 89px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-e9e3a29376e8b3dd27541cca6a264e31362b8bd0png {
  top: 0px;
  left: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div33 {
  top: 0px;
  left: 64px;
  width: 235px;
  height: 89px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text132 {
  top: 6.5px;
  left: 1.3499984741210938px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  height: auto;
  position: absolute;
  font-size: 23px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text134 {
  top: 39px;
  color: rgba(0, 0, 0, 0.7200000286102295);
  width: 223px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div34 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div35 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg14 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg15 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg16 {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 32px;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-svg17 {
  width: 24px;
  height: 24px;
  position: relative;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-div36 {
  width: 600px;
  height: 76px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.privatbankuabyhtmltodesign-f-r-e-eversion0502202320164-text136 {
  top: 30.5px;
  left: 898.0218505859375px;
  color: rgba(0, 0, 0, 0.5400000214576721);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
